<h1>Framing#index</h1>
<p>Find me in app/views/framing/index.html.erb</p>

<div class="row">
  <div class="col-md-6">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <% Framing.column_names.each do |column_name| %>
            <% if is_useful_column_name column_name %>
              <th><%= column_name %></th>
            <% end %>
          <% end %>
        </tr>
      </thead>
      <tbody id="myTable">
        <% @framings.each do |framing| %>
          <tr>
            <% framing.attributes.each do |column_name, value| %>
              <% if is_useful_column_name column_name %>
                <td><%= value  %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  