<div class="row">
  <div class="col-md-6" style="text-align:left; padding-left: 50px;">
    <h3>Framing Helper</h3>  
    <p>Questions?<br>
       Contact Kyle Noll: knoll@ucseng.com</p>
  </div>
</div>

