<div class="jumbotron">
  <h2>Pages</h2>
  <p>Scroll with the arrows to see the standards of other companies.</p>
</div> 

<!--Carousel-->
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
  
  <!--Carousel Wrapper-->
  <div class="carousel-inner" role="listbox">
    <% @images.each do |image| %>
      <% class_text = image.url == @active_url ? "item active" : "item" %>
        <div class='<%= class_text %>' 
          <h3 id="pages-upper-text"><span id="pages_title"><%= get_name_from image.url %></span>
            <span id="pdf_button"><%= link_to "Full PDF", build_standards_href(image.url), 
               class:  "btn btn-primary btn-large",
               target: :_blank %>
            </span>
          </h3>
          <%= image_tag(prepend_s3(image.url), { alt: image.url, 
                                                 class: "img-responsive" }) %>
        </div>
    <% end %>
  </div>
  <!--/Carousel Wrapper-->

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/Left and right controls-->
</div>
<!--/Carousel-->