/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

textarea {
  white-space: pre-wrap;
}

.jumbotron {
  text-align: center;
}

.column-title {
  text-align: center;
  
}

#myCarousel {
  margin: 0 auto;
}

table {
  border: 0;
  border-collapse: collapse;
}

table tr {
  display: flex;
}

table td {
  padding: 3px;
  flex: 1 auto;
  border: 1px solid #aaa;
  width: 1px;
  word-wrap: break;
}

table thead tr:after {
  content: '';
  width: 7px;
  overflow-y: scroll;
  visibility: hidden;
  height: 0;
}

table thead th {
  flex: 1 auto;
  display: block;
  border: 1px solid #000;
  width: 2%;
  text-align: center;
}

table tbody {
  display: block;
  width: 100%;
  overflow-y: scroll;
  height: 700px;
}

.table-hover:hover {
  background-color: #eee;
}

td {
  text-align: center;
}

tr {
  cursor: pointer;
}

#value-desc {
  text-align: left;
  font-style: italic;
  text-transform: lowercase;
  text-transform: capitalize;
}

#myCarousel {
  text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 550px; 
    box-shadow: 2px 2px 2px 2px grey;
 }
 
#myCarousel {
  width: 700px;
  height: 800px;
}

.carousel-control {
  color: #337ab7;
  width: 0;
}

.glyphicon-chevron-right, 
.glyphicon-chevron-left {
  font-size: 50px !important;
}

.carousel-control:hover,
.carousel-control:focus {
  color: #337ab7;
}

#pdf_button {
  margin-left: 25px;
}

.footer {
  text-align: center;
  background: #eee;
  color: black;
  padding-top: 25px;
  padding-bottom: 75px;
  margin-top: 25px;
}

.footer li {
  list-style-type: none;
}

.footer li a {
  text-decoration: none;
  color: black;
}
